.container {
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
}
div.game {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 120px;
  height: 120px
}

.game-cell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.game-cell.clicked {
  background-color: blue;
  color: white;
  cursor: default;
}

.game-cell.clicked.recently {
  background-color: red;
}
